.body {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;

  a {
    color: hsl(var(--foreground));
    text-decoration: none;
    text-transform: uppercase;
  }

  p {
    margin: 0px;
    display: flex;
    overflow: hidden;
    font-size: clamp(22px, 6vh, 32px);
    padding-right: 30px;
    padding-top: 10px;
    font-weight: 800;
  }
}

@media only screen and (min-width: 1000px) {
  .body {
    max-width: 1200px;
    margin-top: 60px;

    p {
      font-size: clamp(32px, min(4.5vw, 9vh), 90px);
      padding-right: 2vw;
      padding-top: 0.5vh;
    }
  }
}
